.amazon-button{
  background-color: rgb(255, 216, 20);
  border: none;
  border-radius: 15px;
  font-weight: 500;
  padding: 5px 40px;
}

.uber-button{
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-weight: 700;
}

.request-now-button{
  background-color: black;
  color: white;
}

.schedule-for-later{
  background-color: rgb(230, 230,230);
}

.on-off-button{
  border: none;
  border-radius: 5px;
  font-size: 17px;
  padding: 10px;
  font-weight: bold;
}

.is-toggled{
  background-color: black;
  color: white;
}